<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20160328002-Quartz2D-Caputure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5AD5F361CA905C000C645B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5AD5F4F1CA905C000C645B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5AD5F5A1CA905C000C645B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
